<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../static/partials/head'); %>
  </head>
  <body>
    <%- include('../static/partials/navbar'); %>
    <%- include('../static/partials/messages'); %>

    <h1 class="text-center py-4"><%= list.title %></h1>

    <div class="container px-6">
      <p>
        Add items here!
      </p>
    </div>


    <%- include('../static/partials/baseScripts'); %>
  </body>
</html>
